
{% extends 'base.html' %}
{% block content %}
<section id="account-page">
  <h2>Admin</h2>
  <div class="account-cards">
    <div class="profile-card">
      <h3>Admin Profile</h3><p>Abygail Cepillo</p><p>Admin/School Nurse</p><p>abygail@gmail.com</p>
    </div>
    <div class="account-card">
      <h3>Account Control</h3>
      <button id="change-password">Change Password</button>
      <button id="switch-account">Switch Account</button>
      <button id="logout">Logout</button>
    </div>
  </div>
</section>
{% endblock %}
